
{% extends "awwa/base.html" %}
{% load static%}
{% load ratings %}
{% block styles %}
{% endblock%}
{% block content %}

    <div class="container-fluid">
       <!-- landing page image -->
    </div>

    <div class="container">
      <div class="row">
         <div class="col-md-4">
            <a class="btn btn-info" href="{%url 'post_new'%}">Submit your site here   
            </a>
         </div>
         <div class="col-md-8">
            <cite>Site of the day</cite>
            <div class="title">
               <h2>By <strong>Aoko Mercyline</strong>From Nairobi,Kenya </h2>
            </div>
            <div>
               <a class="btn btn-info"  href="">Visit</a>
               <a class="btn btn-info" href="">Likes</a>
               <a class="btn btn-info" href="">Collect</a>
            </div>
         </div>
     </div>
    </div>

   <div class="container">
      <div class="row" style="padding-top: 10%;">
         {% for post in posts %}
         <div class="col-md-4">
            <div class="card">
               <figure><a target="blank" href="{%url 'vote' post_id=post.id%}"><img class="img-responsive"
                  src="{{post.image.url }}" width="100%" ; height="200px" ;></a></figure>
               <div class="card-body">
                 <img class="img-responsive" src="{{post.image.url }}" width="100%";>
                 <a class="mr-2" href="#">{{ post.technologies }}</a>
                 <small class="text"> Date posted: {{ post.post_date|date:"F d, Y" }}</small>
                 </div>
                 <h2 ><a class="article-title" href="#"> Title: {{ post.title }}</a></h2>
                 <p class="article-content"> Description: {{ post.desc }}</p>
               </div>
               {% ratings post %}
               <div class="card-footer">
                 <a href="{{ post.link }}" class="btn btn-info" target="_blank">Visit site</a>
                 <p><cite>By <strong >{{post.user}}</strong></cite></p>
               </div>
            </div>
         {% endfor %}
         </div>
      </div>
   </div>


   
{% endblock content %}